
	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
                <div class="topbar-social">
                    <a href="https://www.facebook.com/EMMYJEANS/" target="_blank" class="topbar-social-item fa fa-facebook"></a>
                    <a href="https://www.instagram.com/emmy_jeans_mexico/" target="_blank" class="topbar-social-item fa fa-instagram"></a>
                    @*<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
        <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
        <a href="#" class="topbar-social-item fa fa-youtube-play"></a>*@
                </div>

				<span class="topbar-child1">
					Envios gratis en ordenes mayores a $1,000 pesos
				</span>

				<div class="topbar-child2">
					<span class="topbar-email">
                        emmy-jeans.com
					</span>

					<div class="topbar-language rs1-select2">
						@*<select class="selection-1" name="time">
							<option>USD</option>
							<option>EUR</option>
						</select>*@
					</div>
				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="/" class="logo">
					<img src="~/Content/images/icons/logo.png" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                @Html.ActionLink("Home", "Index", "Home")
                                @*<ul class="sub_menu">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Home 2", "Home2", "Home")</li>
                                    <li>@Html.ActionLink("Home 3", "Home3", "Home")</li>
                                </ul>*@
                            </li>

                            @*<li>@Html.ActionLink("Shop", "Product", "Home")</li>

                            <li class="sale-noti">@Html.ActionLink("Sale", "Product", "Home")</li>

                            <li>@Html.ActionLink("Features", "Cart", "Home")</li>

                            <li>@Html.ActionLink("Blog", "Blog", "Home")</li>*@

                            <li>@Html.ActionLink("Quienes somos?", "About", "Home")</li>

                            <li>@Html.ActionLink("Contactanos", "Contact", "Home")</li>
                        </ul>
                    </nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="~/Content/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>

					@*<span class="linedivide1"></span>*@

					@*<div class="header-wrapicon2">
						<img src="~/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="~/Content/images/item-cart-01.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="~/Content/images/item-cart-02.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="~/Content/images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
                                <div class="header-cart-wrapbtn">
                                    <!-- Button -->
                                    @Html.ActionLink("View Cart", "Cart", "Home", new { @class= "flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4" })
                                </div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>*@
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="/" class="logo-mobile">
				<img src="~/Content/images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="~/Content/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					@*<div class="header-wrapicon2">
						<img src="~/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="~/Content/images/item-cart-01.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="~/Content/images/item-cart-02.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="~/Content/images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
                                <div class="header-cart-wrapbtn">
                                    <!-- Button -->
                                    @Html.ActionLink("View Cart", "Cart", "Home", new { @class = "flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4" })
                                </div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>*@
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
                <ul class="main-menu">
                    <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                        <span class="topbar-child1">
                            Envios gratis en ordenes mayores a $1,000 pesos
                        </span>
                    </li>

                    <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                        <div class="topbar-child2-mobile">
                            <span class="topbar-email">
                                emmy-jeans.com
                            </span>

                            <div class="topbar-language rs1-select2">
                                @*<select class="selection-1" name="time">
                                    <option>USD</option>
                                    <option>EUR</option>
                                </select>*@
                            </div>
                        </div>
                    </li>

                    <li class="item-topbar-mobile p-l-10">
                        <div class="topbar-social-mobile">
                            <a href="https://www.facebook.com/EMMYJEANS/" target="_blank" class="topbar-social-item fa fa-facebook"></a>
                            <a href="https://www.instagram.com/emmy_jeans_mexico/" target="_blank" class="topbar-social-item fa fa-instagram"></a>
                            @*<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
        <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
        <a href="#" class="topbar-social-item fa fa-youtube-play"></a>*@
                        </div>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="/">Home</a>
                        @*<ul class="sub-menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Home 2", "Home2", "Home")</li>
                            <li>@Html.ActionLink("Home 3", "Home3", "Home")</li>
                        </ul>*@
                        <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                    </li>

                    @*<li class="item-menu-mobile">
                        @Html.ActionLink("Shop", "Product", "Home")
                    </li>

                    <li class="item-menu-mobile">
                        @Html.ActionLink("Sale", "Product", "Home")
                    </li>

                    <li class="item-menu-mobile">
                        @Html.ActionLink("Features", "Cart", "Home")
                    </li>

                    <li class="item-menu-mobile">
                        @Html.ActionLink("Blog", "Blog", "Home")
                    </li>*@

                    <li class="item-menu-mobile">
                        @Html.ActionLink("Quienes somos?", "About", "Home")
                    </li>

                    <li class="item-menu-mobile">
                        @Html.ActionLink("Contactanos", "Contact", "Home")
                    </li>
                </ul>
			</nav>
		</div>
	</header>

	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(../Content/images/heading-pages-new.jpg);">
        <div style=" width: 300px; background-color: black; ">
        <h2 class="l-text2 t-center">
            Nosotros
		</h2>
            </div>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
			<div class="row">
				<div class="col-md-4 p-b-30">
					<div class="hov-img-zoom">
						<img src="~/Content/images/banner-14.jpg" alt="IMG-ABOUT">
					</div>
				</div>

				<div class="col-md-8 p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
                        Nuestra historia
					</h3>

                    <p class="p-b-28">
                        EMMY JEANS es una marca que permanece a la vanguardia en el arte de diseñar y fabricar jeans. En EMMY trabajamos arduamente para ofrecerte un producto lider en los altos estandares de la moda internacional. Nuestras colecciones resaltan lo mejor de tu figura, usamos materiales exclusivos de la mas alta calidad y estamos atentos a las ultimas tendencias para que siempre estes actualizada.

                    </p>

					<div class="bo13 p-l-29 m-l-9 p-b-10">
                        <p class="p-b-11">
                            Tambien contamos con precios al mayoreo para distribuidores
                        </p>

						<span class="s-text7">
							- Roberto Ortiz
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Footer -->
    <footer class="bg6 p-l-45 p-r-45">
        <div class="flex-w">
            <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                @Html.ActionLink("Contactanos", "Contact", "Home", new { @class = "s-text12" })

                <div>
                    <p class="s-text7 w-size27">
                        Alguna pregunta? Estamos ubicados en A. del Mazo 2, Santa Cruz Atizapán, Mexico o llamanos al +52(713)1316138
                    </p>

                    <div class="flex-m">
                        <a href="https://www.facebook.com/EMMYJEANS/" target="_blank" class="topbar-social-item fa fa-facebook"></a>
                        <a href="https://www.instagram.com/emmy_jeans_mexico/" target="_blank" class="topbar-social-item fa fa-instagram"></a>
                        @*<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                        <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                        <a href="#" class="topbar-social-item fa fa-youtube-play"></a>*@
                    </div>
                </div>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                @*<a class="s-text12 p-b-30">
                    Categories

                </a>*@
                @Html.ActionLink("Quienes somos?", "About", "Home", new { @class = "s-text12" })
                @*<ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Men
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Women
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Dresses
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Sunglasses
                        </a>
                    </li>
                </ul>*@
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                @Html.ActionLink("Contactanos", "Contact", "Home", new { @class = "s-text12" })

                @*<h4 class="s-text12 p-b-30">
                    Links
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Search
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            About Us
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Contact Us
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Returns
                        </a>
                    </li>
                </ul>*@
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                @Html.ActionLink("Home", "Index", "Home", new { @class = "s-text12" })
                @*<h4 class="s-text12 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            FAQs
                        </a>
                    </li>
                </ul>*@
            </div>

            <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                <a href="https://articulo.mercadolibre.com.mx/MLM-641415520-jeans-dama-levanta-pompas-corte-colombiano-push-up-mayoreo-_JM" target="_blank" class="s-text12 p-b-30">
                    Comprar ahora
                </a>
                @*<h4 class="s-text12 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="effect1 w-size9">
                        <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="emailexample.com">
                        <span class="effect1-line"></span>
                    </div>

                    <div class="w-size2 p-t-20">
                        <!-- Button -->
                        <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                            Subscribe
                        </button>
                    </div>

                </form>*@
            </div>
        </div>

        <div class="t-center p-l-15 p-r-15">
            <a href="#">
                <img class="h-size2" src="~/Content/images/icons/paypal.png" alt="IMG-PAYPAL">
            </a>

            <a href="#">
                <img class="h-size2" src="~/Content/images/icons/visa.png" alt="IMG-VISA">
            </a>

            <a href="#">
                <img class="h-size2" src="~/Content/images/icons/mastercard.png" alt="IMG-MASTERCARD">
            </a>

            <a href="#">
                <img class="h-size2" src="~/Content/images/icons/express.png" alt="IMG-EXPRESS">
            </a>

            <a href="#">
                <img class="h-size2" src="~/Content/images/icons/discover.png" alt="IMG-DISCOVER">
            </a>

            <div class="t-center s-text8 p-t-20">
                Copyright @@ 2018 All rights reserved. | This website is made by <a href="https://carbajalsalinas.com" target="_blank">CarbajalSalinas.com</a>
            </div>
        </div>
    </footer>



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>

